# Compiled
*.elc

# Backup files
*~
\#*
.\#*

# secrets should NEVER be checked in
my-secrets.el

lisp/site.el
my_emacs-autoloads.el
config.el

# local permissions, etc. for Claude Code.
settings.local.json
